@import "@/styles/mixins.scss";

.banner {
  width: 100%;
  display: flex;
  position: relative;

  align-items: center;
  flex-direction: column;

  &__content {
    gap: 0.5rem;
    width: var(--page-content-width);
    display: grid;
    padding: var(--page-content-spacing) 0;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    @include respond-to-xl {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
    }
  }

  &__background {
    left: -1rem;
    top: -1rem;
    right: -1rem;
    bottom: calc(var(--breadcrumb-height) + 1rem);
    filter: blur(3px) brightness(0.5);
    z-index: -1;
    position: absolute;
    transform: scale(1.1);
    object-fit: cover;
  }
}
