.banner {
  --header-banner-height: 22rem;

  width: 100%;
  height: calc(var(--header-banner-height) + var(--card-item-size) / 2);
  position: relative;

  &__image {
    width: 100%;
    height: var(--header-banner-height);
    filter: brightness(0.35);

    object-fit: cover;
    object-position: center;
  }

  &__content {
    gap: 2rem;
    left: 50%;
    width: var(--page-content-width);
    display: grid;
    position: absolute;
    transform: translate(-50%, -50%);

    grid-template-columns: var(--card-item-size) 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
