.image {
  left: 8rem;
  width: 22rem;
  bottom: -8rem;
  height: 22rem;
  border: 2px solid #9a9a9a;

  overflow: hidden;
  position: absolute !important;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}
