.image {
  grid-row: 1 / 3;
  grid-column: 1 / 2;

  width: 22rem;
  height: 22rem;
  // border: 2px solid #9a9a9a;

  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  margin-right: 2rem;
  // border-radius: 1rem;
}
