.podcasts {
  gap: 2rem;
  width: var(--page-content-width);
  display: flex;
  padding: var(--page-content-spacing) 0;
  flex-direction: column;

  &__title {
    margin: -2rem 0 0;
    padding: 2rem 0 0;
  }

  &__embed {
    border: none;
    height: 352px;
    border-radius: 1rem;
  }
}
