.podcasts {
  gap: 2rem;
  width: var(--page-content-width);
  display: flex;
  padding: var(--page-content-spacing) 0;
  flex-direction: column;

  &__title {
    margin: -2rem 0 0;
    padding: 2rem 0 0;
  }

  &__container {
    gap: 2rem;
    display: flex;
    flex-direction: column;

    &__embed {
      border: none;
      height: 352px;
      border-radius: 1rem;
    }

    &__player {
      padding: 2rem !important;
      box-shadow: none !important;
      border-radius: 1rem;
    }

    &__content {
      margin: -1rem 0 0;
      max-width: 65ch;
    }
  }
}
