@import "@/styles/mixins.scss";

.description {
  gap: 1rem;
  color: var(--color-white);
  margin: 0.5rem 0 0;
  display: flex;
  flex-direction: column;

  &__content {
    margin: 0;
  }

  @include respond-to-xl {
    gap: 0.5rem;
    margin: 0;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}
