@import "@/styles/mixins.scss";

.podcasts {
  gap: 2.5rem;
  width: var(--page-content-width);
  display: flex;
  padding: var(--page-content-spacing) 0;
  flex-direction: column;

  &__title {
    margin: -2rem 0 0;
    padding: 2rem 0 0;
  }

  &__items {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr;

    @include respond-to-md {
      grid-template-columns: 1fr 1fr;
    }

    @include respond-to-xl {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
