@import "@/styles/mixins.scss";

.podcasts {
  gap: 2.5rem;
  width: var(--page-content-width);
  display: flex;
  padding: var(--page-content-vertical) 0;
  flex-direction: column;

  &__title {
    margin: -2rem 0 0;
    padding: 2rem 0 0;
  }

  &__items {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include respond-to-xl {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {
      &__link {
        width: var(--card-item-size);
        color: var(--color-black);
        border: 1px solid var(--color-border);
        display: flex;
        overflow: hidden;
        transition: transform 0.2s;
        background: var(--color-white);

        flex-direction: column;
        text-decoration: none;

        &__image {
          filter: brightness(0.9);
          transition: filter 0.2s;
        }

        &__content {
          padding: 1rem 1.5rem;
          display: flex;
          gap: 0.5rem;
          flex-direction: column;

          &__title {
            font-size: 1.15rem;
          }

          &__description {
            display: -webkit-box;
            overflow: hidden;

            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);

          .podcasts__items__item__link__content__description {
            text-decoration: underline;
          }

          .podcasts__items__item__link__image {
            filter: brightness(1);
          }
        }
      }
    }
  }
}
